[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-distill = "*"
django-sass-processor = "*"
libsass = "*"
django-compressor = "*"
requests = "*"
feedparser = "*"
python-dateutil = "*"
markdown = "*"
pyyaml = "*"
beautifulsoup4 = "*"
importlib-metadata = "*"
typing-extensions = "*"
django-cachekiller = "*"

[dev-packages]

[requires]
