/* Palette */

$colour_white: #ffffff;
$colour_black: #000000;
$colour_very_light_grey: #fafafa;
$colour_light_grey: #eeeeee;
$colour_near_black: #262626;
$colour_near_white: #f7f7f7;

$palette_primary: #eb5e28;
$palette_dark: #252422;
$palette_middle: #403d39;
$palette_light: #ccc5b9;
$palette_background: #fffcf2;

/* Template colours */

$background_colour: $palette_background;
$text_colour: $palette_dark;
