/* Palette */

$colour_white: #ffffff;
$colour_black: #000000;
$colour_very_light_grey: #fafafa;
$colour_light_grey: #eeeeee;
$colour_near_black: #262626;
$colour_near_white: #f7f7f7;

$palette_primary: #eb5e28;
$palette_dark: #252422;
$palette_middle: #403d39;
$palette_light: #ccc5b9;
$palette_background: #fffcf2;

/* Template colours */

$background_colour: $palette_background;
$text_colour: $palette_dark;
$link_colour: $palette_middle;
$link_hover_colour: $palette_primary;
$link_underscore_colour: $palette_middle;

$nav_background_colour: $palette_dark;
$nav_logo_background_colour: $palette_primary;
$nav_logo_background_hover_colour: $palette_primary;
$nav_link_colour: $colour_white;
$nav_link_hover_colour: $colour_white;
$nav_link_background_hover_colour: $palette_primary;
$nav_link_active_background_colour: $colour_white;
$nav_link_active_text_colour: $palette_dark;
$nav_border_colour: $palette_light;

$hero_background_colour: $palette_primary;
$hero_text_colour: $colour_white;
$hero_text_shadow_colour: $palette_middle;
$hero_button_text_hover_colour: $colour_white;
$hero_button_background_hover_colour: $palette_dark;
$hero_button_border_colour: $palette_primary;

$content_section_border_colour: $palette_middle;
$content_code_background_colour: $colour_white;
$content_code_border_colour: $palette_light;
$content_code_text_colour: $colour_black;
$content_install_icon_colour: $palette_light;
$content_side_note_header_colour: $palette_primary;
$content_text_shadow_colour: $palette_light;

$footer_background_colour: $palette_dark;
$footer_border_colour: $palette_light;
$footer_text_colour: $colour_white;
