{% load static %}{% load sass_tags %}{% load i18n %}<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block page_title %}Static site generator for Django{% endblock %} - Django Distill</title>
    <meta name="description" content="django-distill, a static site generator for Django">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% sass_src 'styles/distill.scss' %}">
  </head>

  <body>

    <nav class="navbar main-nav" role="navigation" aria-label="main navigation">
      <div class="navbar-brand is-flex-tablet">
        <a class="navbar-item" href="{% url 'content:index' %}">
          <h1>django-distill</h1>
        </a>
      </div>
      <a class="navbar-item is-expanded{% if active_page == 'install' %} is-active{% endif %}" href="{% url 'content:yamlmd_page' page_name='install' %}">
        <i class="fa-solid fa-fw fa-file-import"></i>&nbsp;Install
      </a>
      <a class="navbar-item is-expanded{% if active_page == 'integration' %} is-active{% endif %}" href="{% url 'content:yamlmd_page' page_name='integration' %}">
        <i class="fa-solid fa-fw fa-puzzle-piece"></i>&nbsp;Integration
      </a>
      <a class="navbar-item is-expanded{% if active_page == 'deployment' %} is-active{% endif %}" href="{% url 'content:yamlmd_page' page_name='deployment' %}">
        <i class="fa-solid fa-fw fa-cloud-arrow-up"></i>&nbsp;Deployment
      </a>
      <a class="navbar-item is-expanded{% if active_page == 'guides' %} is-active{% endif %}" href="{% url 'content:yamlmd_page' page_name='guides' %}">
        <i class="fa-solid fa-fw fa-book-open"></i>&nbsp;Guides
      </a>
      <a class="navbar-item is-expanded{% if active_page == 'development' %} is-active{% endif %}" href="{% url 'content:yamlmd_page' page_name='development' %}">
        <i class="fa-solid fa-fw fa-code"></i>&nbsp;Development
      </a>
    </nav>

  {% block hero %}{% endblock %}

  <div id="content">
{% block content %}{% endblock %}
  </div>

  <footer>
    All content &copy;{% now 'Y' %} the <strong>django-distill</strong> project.
    &quot;Django&quot; is a registered trademark of the Django Software Foundation.
    <strong>django-distill</strong> is an independant project and not part of the Django Software Foundation.
  </footer>

  </body>
</html>
