{% extends 'base.html' %}

{% block page_title %}Static site generator for Django{% endblock %}

{% block content %}

<div class="triangles">
  <section class="hero container side-pad">
    <div class="hero-body">
      <div class="columns">
        <div class="column is-two-thirds is-full-mobile">
          <p class="title is-size-1-desktop is-size-2-tablet is-size-3-mobile">
            django-distill
          </p>
          <p class="subtitle is-size-3-desktop is-size-4-tablet is-size-5-mobile">
            Static site generator for Django
          </p>
        </div>
        <div class="column is-one-third is-full-mobile">
          <div class="block">
            <a class="button is-large is-fullwidth" href="https://github.com/meeb/django-distill/"><i class="fa-brands fa-fw fa-github"></i>&nbsp;GitHub</a>
          </div>
          <div class="block">
            <a class="button is-large is-fullwidth" href="https://pypi.org/project/django-distill/"><i class="fa-brands fa-fw fa-python"></i>&nbsp;PyPI</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="container">
  {{ intro|safe }}
</section>

<section class="container side-pad">
  <div class="columns">
    <div class="column is-two-thirds is-full-mobile">
      <h2 class="title">How it works</h2>
      {{ how_it_works|safe }}
    </div>
    <div class="column is-one-third is-full-mobile">
      <div class="box">
        <div class="block">
          <h2 class="title"><i class="fa-solid fa-terminal"></i>&nbsp;Install</h2>
          <div class="icon-field">
            <i class="fa-solid fa-dollar-sign"></i>
            <input class="input install-copypaste" type="text" value="pip install django-distill" readonly="readonly">
          </div>
        </div>
        <div class="block">
          Alternatively, you can <a href="{{ latest_release.url }}#files" rel="nofollow"><i class="fa-solid fa-download"></i> download the release from PyPI</a> as a Python package
        </div>
      </div>
      <div class="block">
        <p>
          The latest release of <strong>django-distill</strong> is <strong>{{ latest_release.version }}</strong> published
          on the <strong>{{ latest_release.published|date:'jS \o\f F Y' }}</strong>
        </p>
        <p>
          <a><i class="fa-solid fa-clock-rotate-left"></i> View historical releases</a>
        </p>
      </div>
      <div class="box">
        <div class="block">
          <h2 class="title"><i class="fa-solid fa-question"></i>&nbsp;Did you know</h2>
          This website is powered by <strong>Django</strong>, uses <strong>django-distill</strong>
          and is automatically deployed as a static site to Cloudflare pages! This site is open source and you
          can <a href="https://github.com/meeb/django-distill-site/"><i class="fa-brands fa-github"></i> view it on GitHub</a>.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container side-pad">
  <div class="columns">
    <div class="column is-one-third is-full-mobile">
      <h3 class="title"><i class="fa-solid fa-fw fa-file-import"></i>&nbsp;Install</h3>
      <div class="block">
        For the step by step guide on how to install <strong>django-distill</strong> into
        your Django project, read the
        <a href="{% url 'content:yamlmd_page' page_name='install' %}"><i class="fa-solid fa-fw fa-file-import"></i> installation documentation</a>.
      </div>
    </div>
    <div class="column is-one-third is-full-mobile">
      <h3 class="title"><i class="fa-solid fa-fw fa-book-open-reader"></i>&nbsp;Integrate</h3>
      <div class="block">
        Installed <strong>django-distill</strong> into your Django project? You can start using
        the full set of static site generation features, read the
        <a href="{% url 'content:yamlmd_page' page_name='integration' %}"><i class="fa-solid fa-fw fa-book-open-reader"></i> integration documentation</a>.
      </div>
    </div>
    <div class="column is-one-third is-full-mobile">
      <h3 class="title"><i class="fa-solid fa-fw fa-cloud-arrow-up"></i>&nbsp;Deploy</h3>
      <div class="block">
        Once you've wrapped your URLs with <strong>django-distill</strong> you can deploy
        your static site! Read the
        <a href="{% url 'content:yamlmd_page' page_name='deployment' %}"><i class="fa-solid fa-fw fa-cloud-arrow-up"></i> deployment documentation</a>.
      </div>
    </div>
  </div>
</section>

<section class="container side-pad">
  <h3 class="title"><i class="fa-solid fa-fw fa-star"></i>&nbsp;{{ num_stargazers }} Stargazers</h3>
  <div class="block">
    <div class="columns is-multiline is-flex">
      {% for stargazer in stargazers %}
      <div class="column is-1-fullhd is-1-desktop is-1-widescreen is-1-tablet is-2-mobile">
        <a href="{{ stargazer.url }}" title="GitHub profile for {{ stargazer.name }}" class="image is-square" rel="nofollow" target="_blank">
          <img src="{{ stargazer.avatar }}" alt="GitHub avatar for {{ stargazer.name }}">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="block">
    <a href="https://github.com/meeb/django-distill/stargazers" rel="nofollow"><i class="fa-brands fa-github"></i> ... and {{ num_stargazers_remaining }} more on GitHub</a>
  </div>
</section>

{% endblock %}
